 table.user_count  {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  	border-collapse: collapse;
  	width: 98%;
    border: 1px solid #E1E1E1;
}
table.user_count td, table.user_count th {
   /* border: 1px solid #ddd;*/
    padding: 8px;
}
table.user_count tr:hover {background-color: #ddd;}

table.user_count th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
tr.role_head {
    background: #fff;
    color: #555555;
    border: 1px solid #E1E1E1;
}
tr.role_body td strong a {
    text-decoration: none;
    font-size: 14px;
}
tr.role_body td {
    color: #0073AE;
}
tr.role_body {
    background: #fff;
}
table.user_count tr:nth-child(even) {
    background: #F9F9F9;
}
tr.role_body td {
    padding-top: 15px;
    padding-bottom: 15px;
}